@model WebApplication1.Models.Member

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<div class="row">
    <!-- Lijeva strana: Form -->
    <div class="col-md-6">
        <h4>Member</h4>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <!-- Desna strana: Tekst -->
    <div class="col-md-6 mt-5">
        <div class="card">
            <div class="card-body">
                <h4>Join Today</h4>
                <p>Fill out your details and become part of our book-loving community. For just €25 a year, you can borrow books for up to one month at a time. We send the books by mail, and you return them the same way.</p>
                <p>Discover a world of knowledge and entertainment, all from the comfort of your home. Join us now!</p>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Take Me Back</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
