@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Book Place – Where Stories Come Alive</h1>
    <p>
        Browse, review, and connect with books that matter to you. <br />Start your reading journey with Book Place...</a>
    </p>
</div>
